
<h1>Followers</h1>

<table class="table table-striped">
	<tr>
		<th width="10%">image</th>
   	    <th width="30%">user name</th>
   	    <th width="40%">introduction</th>
        <th width="10%"></th>
	</tr>
        <% @user.followers.each do |follow| %>
	<tr>
		<td><%= attachment_image_tag follow, :profile_image, fallback:"no-image.png",size: "50x50" %></td>
		<td><%= follow.name %></td>
        <td><%= follow.introduction %></td>
		
	</tr>
  <% end %>
</table>