<h1>Home#index</h1>
<h1> Wellcome to bookers!!!!</h1>

<p><%= link_to "Log in", new_user_session_path, class:"button is-warning is-light" %></p>
    
    <p><%= link_to "Sign Up", new_user_registration_path, class:"button is-warning is-light" %></p>