<h1>実験ページ</h1>

<div class="container">
	<div class="row">
		<div class="col-xs-6">一つ目のカラム</div>
		<div class="col-xs-6">2つ目のカラム</div>
	</div>

	<div class="row">
		<div class="col-xs-4">三つ目のカラム</div>
		<div class="col-xs-4">4つ目のカラム</div>
		<div class="col-xs-4">５つめのカラム</div>
	</div>
</div>